mixin videoMix(info)
    div.video-mixin__thumb(style=`background-image:url(${info.thumbUrl}); background-size:cover;background-position:center`)
    div
        a(href=`/videos/${info.id}`)=info.title
    div
        p=info.description
        span #{info.meta.views}회
        div 
            ul 
            each hashtag in info.hashtags
                li=hashtag
        small=info.createdAt
        hr