extends base 

block content
    image(src=`/${loggedInUser.avatarUrl}` width=100 height=100)
    if(errorMessage)
        span=errorMessage
    form(method="POST" enctype="multipart/form-data").edit-profile_form
        label(for="avatar") Avatar 
        input(name="avatar" type="file" accept="image/*" id="avatar")
        input(name="name" placeholder="Name" type="stirng" required value=loggedInUser.name)
        input(name="email" placeholder="Email" type="email" required value=loggedInUser.email)
        input(name="username" placeholder="Username" type="stirng" required value=loggedInUser.username)
        input(name="location" placeholder="Location" type="stirng" required value=loggedInUser.location)
        input(type="submit" value="Edit Profile")
        if !loggedInUser.githubOnly
            div.edit-profile__password
                a(href="change-password") Change Password